@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li, ol {
    list-style-type: none;
}
button, input, a {
    border: none;
    outline: none;
}
:root {
  /* Brand Colors */
  --color-brand-blue: #0084FF;

  --color-primary-blue: #1155D0;
  --color-primary-green: #4CAF50; 
  --color-primary-orange: #F4A62A;

  /* Neutral Colors */
  --color-bg-dark: #061238;
  --color-black: #101010;
  --color-white: #ffffff;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background: #061238;
    color: #fff;
}

header {
    padding: 12px 24px;
    position: fixed;
    top: 0;
    left: 0;
}

header img {
    height: 32px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 80px;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
    transition: grid-template-columns 0.8s ease-in-out;
}

.card {
    border-radius: 64px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 480px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    font-size: 28px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.card.blue {
    background: var(--color-brand-blue);;
    margin-top: 240px;
    margin-left: 0;
    z-index: 1;
}

.boy1 {
    height: 200px;
    position: absolute;
    top: -160px;
    right: 200px;
    animation: boy1_transition 3s ease-in-out infinite;
}

.boy2 {
    position: absolute;
    top: -180px;
    left: 48px;
    height: 240px;
    animation: boy2_transition 3s ease-in-out infinite;
}

.yellow_planet {
    height: 240px;
    position: absolute;
    top: -300px;
    right: 0;
    animation: yellow_planet_scale 3s ease-in-out infinite;
}

.planet {
    height: 200px;
    position: absolute;
    top: -120px;
    right: 0;
}

@keyframes yellow_planet_scale {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes boy1_transition {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-24px);
    }
}

@keyframes boy2_transition {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(24px);
    }
}

.card.green {
    background: var(--color-primary-green);
    min-height: 560px;
    margin-left: -40px;
    margin-top: 160px;
    z-index: 2;
}

.card.blue:hover,
.card.green:hover {
    transform: translateX(-24px);
}

.card.green ul {
    padding-left: 24px;
}

.card.green ul li {
    list-style-type: decimal;
    margin-top: 24px;
}

.card.green ul li:first-child {
    margin-top: 0;
}

.card.orange {
    background: var(--color-primary-orange);
    min-height: 720px;
    margin-left: -40px;
    color: #fff;
    z-index: 3;
}

.card h2 {
    margin-top: 0;
    margin-bottom: 48px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 120%;
}

.s01btn {
    display: inline-block;
    width: 100%;
    background: #fff;
    color: var(--color-primary-blue);
    padding: 32px 48px;
    border-radius: 48px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    text-decoration: none;
    margin-top: 48px;
    overflow: hidden;
    position: relative;
}

.s01btn:hover>span {
    display: inline-block;
    animation: s01btn_span 1s ease-in-out infinite;
}

@keyframes s01btn_span {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(12px);
    }
}

.s01btn::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient( 0deg, transparent, transparent 30%, rgba(17, 85, 208, 0.2));
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.s01btn:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(150%);
}

.s01btn::after {
    content: '';
    position: absolute;
    bottom: -160px;
    right: -160px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    filter: blur(40px);
    background: rgba(17, 85, 208, 0.8);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.s01btn:hover::after {
    opacity: 1;
    bottom: -80px;
    right: -80px;
}

.bg_pattern {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
}

.circleS {
    width: 960px;
    height: 960px;
    background-color: rgba(255, 255, 255, .02);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
}

.circleM {
    width: 1440px;
    height: 1440px;
    background-color: rgba(255, 255, 255, .02);
    border-radius: 50%;
    position: absolute;
    top: calc(100% - 720px);
    left: calc(50% - 720px);
}

.circleL {
    width: 1920px;
    height: 1920px;
    background-color: rgba(255, 255, 255, .02);
    border-radius: 50%;
    position: absolute;
    top: calc(100% - 960px);
    left: 0;
}

.stars {
    position: absolute;
    bottom: -24px;
    left: calc(50% - 213px);
}

#starfield {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/*
result.html
*/
.result_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 160px 48px 160px;
    background: var(--color-brand-blue);
    border-radius: 64px;
    padding: 108px 12px 12px 12px;
    font-size: 20px;
    color: #101010;
    position: relative;
}
.result_main .toplabel{
    position: absolute;
    top: 48px;
    left: 48px;
    line-height: 100%;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);
}
.result_details {
    background: white;
    border-radius: 48px 48px 56px 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    padding: 80px;
}
.rdstitle {
    font-size: 72px;
    line-height: 110%;
    font-weight: 300;
}
.rdssubtitle {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 100%;
}
.rdssubtitle.blue {
    color: var(--color-primary-blue);
}
.rdssubtitle.grey {
    color: rgba(16, 16, 16, .4);
}
.blocktopbottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rdsbtn01 {
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.2px;
    text-decoration: none;
    position: relative;
    background-color: var(--color-primary-blue);
    padding: 24px 36px;
    border-radius: 32px;
    color: white;
    transition: all ease-in-out .3s;
}
.rdsbtn01 span {
    padding-left: 24px;
}
.rdsbtn01:hover>span {
    display: inline-block;
    animation: s01btn_span 1s ease-in-out infinite;
}

.rds1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 12px;
    align-items: center;
    justify-items: center;
}
.rds7,
.rds10 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 48px;
    max-width: 1200px;
    padding: 128px 0;
}
.rds3 {
    align-items: center;
}
.rds2_desc p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}
.rdssubtitle.top {
    margin-bottom: 12px;
}
.rdssubtitle.bottom {
    margin-top: 12px;
}
.rds3media {
    transition: all ease-in-out .3s;
}
.rds3media .cover {
    width: 100%;
    transition: all ease-in-out .3s;
    display: inline-block;
}
.rds3media .thumb {
    position: absolute;
    bottom: 48px;
    left: -48px;
    transition: all ease-in-out .3s;
    border-radius: 48px;
}
.rds3media .about {
    position: absolute;
    bottom: -48px;
    right: -48px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 48px;
    background-color: var(--color-brand-blue);
    max-width: 360px;
    transition: all ease-in-out .3s;
}
.rds3media:hover > .cover {
    transform: scale(1.04);
}
.rds3media:hover > .thumb {
    bottom:56px;
    left: -56px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.rds3media:hover > .about {
    bottom: -56px;
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.rds10 .rdstitle {
    margin-bottom: 96px;
}
.rds10 p {
    margin-bottom: 24px;
}
.rds4 {
    background: url(assets/ri4.png) top left repeat;
    padding: 72px;
    border-radius: 72px;
}
.rds4 .title {
    margin-bottom: 72px;
    color: white;
}
.rds4 ul li {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    padding: 48px 98px 48px 48px;
    border-radius: 56px;
    background-color: white;
    position: relative;
    margin-bottom: 24px;
    overflow: hidden;
}
.rds4 ul li span {
    position: absolute;
    bottom: -16px;
    right: 24px;
    font-size: 72px;
    line-height: 100%;
    font-weight: 300;
    color: var(--color-primary-orange);
    text-align: left;
}
.rds5A {
    padding: 256px 0 128px 0;
}
.rds5A .title {
    margin-bottom: 72px;
}
.rds5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 24px;
    align-items: center;
    justify-items: center;
}
.titlecenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rds5 .right {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.rds5 .right .block {
    padding: 2px;
    border-radius: 24px;
    overflow: hidden;
}
.rds5 .right .block.green {
    background: var(--color-primary-green);
}
.rds5 .right .block.orange {
    background: var(--color-primary-orange);
}
.rds5 .right b {
    font-size: 28px;
}
.rds5 .right .block h5 {
    display: inline-block;
    font-size: 20px;
    background: rgba(255, 255, 255, .8);
    width: 100%;
    padding: 16px;
    border-radius: 22px 22px 0 0;
}
.rds5 .right .block p {
    padding: 16px;
    color: white;
}
.rds5 .right .block ul {
    padding: 16px;
}
.rds5 .right .block ul li {
    padding-left: 16px;
    position: relative;
    margin-bottom: 8px;
    color: white;
}
.rds5 .right .block ul li::before {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    content: "";
    top: calc(50% - 2px);
    left: 0;
    background: #fff;
}
.rds8 {
    max-width: 960px;
    padding: 96px 72px;
    border-radius: 72px;
    background: linear-gradient(0deg, #0084FF, #F4A62A);
    color:var(--color-white); 
    position: relative;
    overflow: hidden;
    margin-top: 128px;
}
.rds8 .title {
    z-index: 3;
    position: relative;
}
.rds8 .rdssubtitle {
    line-height: 1.4;
}
.rds8 form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 36px;
    z-index: 2;
    position: relative;
}
.rds8 form input {
    border-radius: 24px;
    padding: 24px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 20px;  
}
.rds8 form input:focus {
    background: rgba(255, 255, 255, 0.9);
}
.rds8 form .rdsbtn01 {
    display: flex;
    justify-content: space-between;
}
.rds8 .imgpatternbg {
    position: absolute;
    animation: rds8imgpatternbg 24s ease-in-out infinite;
    z-index: 1;
    left: 0;
    transform: rotate(45deg);
    opacity: .2;
}
@keyframes rds8imgpatternbg {
    0%,
    100% {
        top: -40%;
    }
    50% {
        top: -80%;
    }
}
.rds9 .title {
    display: grid;
    justify-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.rds_card01 {
    display: flex;
    align-items: center;
    column-gap: 24px;
    padding: 36px;
    border-radius: 24px;
    border: 2px solid rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
}
.rds_card01::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    background: var(--color-brand-blue);
    filter: blur(40px);
    bottom: -120px;
    right: -120px;
    transition: all ease-in-out .6s;
}
.rds11 .rds_card01:hover::before {
    bottom: -40px;
    right: -40px;
}
.rds_card01 h6 {
    font-size: 20px;
    line-height: 1.5;
}
.rds9 .bgptrn {
    position: absolute;
    top: calc(50% - 240px);
    left: calc(50% - 240px);;
    width: 480px;
    height: 480px;
}
.rds9 .bgptrn1,
.rds9 .bgptrn2,
.rds9 .bgptrn3 {
    border-radius: 100%;
    border: 1px dashed var(--color-brand-blue);
}
.rds9 .bgptrn1 {
    width: 160px;
    height: 160px;
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 80px);
}
.rds9 .bgptrn2 {
    width: 320px;
    height: 320px;
    position: absolute;
    top: calc(50% - 160px);
    left: calc(50% - 160px);
    opacity: .4;
}
.rds9 .bgptrn3 {
    width: 480px;
    height: 480px;
    position: absolute;
    top: calc(50% - 240px);
    left: calc(50% - 240px);
    opacity: .2;
}
.rds11 {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 128px;
}
.rds11 .rds9groupitem {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.rds11 .title {
    margin-bottom: 72px;
}
.rds11 .rds_card01 {
    transition: all ease-in-out .3s;
}
.rds11 .rds_card01:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    border-color: var(--color-brand-blue);
}

.rds11 .rds_card01 h6 {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.rds11 .rds_card01 span {
    font-size: 20px;
    opacity: .4;
    font-weight: 300;
}
.rds11 .rds_card01 a {
    text-decoration: none;
    font-size: 28px;
    color: var(--color-black);
    transition: all ease-in-out .3s;
}
.rds11 .rds_card01 a:hover {
    color: var(--color-primary-blue);
}

.rds12 .title {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
    margin-bottom: 72px;
}
.rds12 .title span {
    font-size: 20px;
}
.rds12 .blockstack {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}
.rds12 .blockstack .block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
}
.rds12 .blockstack .block h5 {
    line-height: 120px;
    font-size: 28px;
    font-weight: 700;
}
.rds12 .blockstack .blocklist {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
}
.rds6 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
    align-items: center;
}
.rds6 .rds6main_scroll {
    display: flex;
    gap: 4px;
    overflow-x: auto;
    margin-right: -76px;
}

.a_scaleimg {
    animation: a_scaleimg 3s ease-in-out infinite;
}
@keyframes a_scaleimg {
    0%,
    100% {
        transform: scale(1.04);
    }
    50% {
        transform: scale(1);
    }
}
.rds0 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 72px;
}
.rds0_left {
    height: 555px;
    position: relative;
}
.rds0_right {
    padding-top: 48px;
}

.rds0_card {
    background: #3E8E41;
    display: grid;
    border-radius: 56px;
    overflow: hidden;
}
.rds0_card .thumb {
    border-radius: 56px;
    overflow: hidden;
    border: 2px solid var(--color-primary-green);
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.rds0_card .thumb img {
    width: 100%;
}
.rds0_card .details {
    display: grid;
    justify-content: center;
    gap: 8px;
    color: white;
    font-size: 20px;
    line-height: 136%;
    padding: 24px;
    text-align: center;
}
.rds0_card .details strong {
    font-weight: 700;
    text-transform: uppercase;
}

.rds2,
.rds3 {
    display: grid;
    gap: 48px;
    padding: 0 0 128px 0;
}
.rds2_desc {
    max-width: 80%;
}

/* test */
.section-x {
  width: 100%;
  padding: 128px 0;
}

.test-x {
  display: flex;
  align-items: flex-start;
  height: 480px;
  position: relative;
}

.left-x {
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 480px;
}

.right-wrap {
  flex: 1;
  min-width: 0;
}

.right-x {
  position: relative;
  width: 100%;
  height: 100%;
}

.stack-x {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-x {
  position: absolute;
  top: 0;
  right: 0;
  width: 720px;
  padding: 48px;
  height: 480px;
  border-radius: 56px;
  background: linear-gradient(to bottom, #0084FF, #1155D0); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transform: scale(0.8);
  text-align: center;
  overflow: hidden;
}
.card-x h6 {
    font-weight: 600;
    font-size: 36px;
}
.card-x span {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 72px;
    font-weight: 100;
    letter-spacing: -4px;
    color: #00D9FF;
}
.card-x img {
    position: absolute;
    bottom: 0;
    right: -80px;
    z-index: -1;
}

.card-x:first-child {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}



